In [3]:
import pandas as pd
import numpy as np

In [12]:
xls = pd.ExcelFile('/Users/abhishekpadala/Desktop/Book2.xlsx')
Rents = pd.read_excel(xls, 'rent_reverse1')

Rents.head()

In [13]:
!pip install geopy

Requirement already satisfied: geopy in /Users/abhishekpadala/anaconda3/lib/python3.8/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/abhishekpadala/anaconda3/lib/python3.8/site-packages (from geopy) (1.50)

In [14]:
from geopy.distance import geodesic

In [15]:
from geopy.distance import geodesic 
comp_lat1 = 43.653226
comp_long1 = -79.3831843
comp_name1 = 'AMZN CAN Fulfillment Svcs, ULC , Toronto , ON'
rent_loc1 = Rents['Location']
rent_lat1 = Rents['lat']
rent_long1 = Rents['long']

In [16]:
distance = []
comp_add = comp_lat1, comp_long1
comp_name = comp_name1
  
for i in range(0, 659):
    rent_add = rent_lat1[i], rent_long1[i]
    rent_loc = rent_loc1[i]
    dist = geodesic(comp_add, rent_add).km
    distance.append((comp_name, dist, rent_loc, rent_add))
df1=pd.DataFrame(distance, columns=['comp_name', 'dist', 'rent_loc', 'rent_add','Rent'])
df1.head()

ValueError: 5 columns passed, passed data had 4 columns

In [ ]:
df1.shape

In [10]:
df1.to_excel('dist_comp_rents.xlsx')

In [24]:
df1

,comp_name,dist,rent_loc,rent_add
0,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",0.310973,"70 Temperance St, Unit 4116,Toronto,Ontario","(43.6505301, -79.3821482)"
1,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",0.320038,"197 Yonge Street St, Unit 2104,Toronto,Ontario","(43.6535246, -79.3792385)"
2,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",1.029993,"403 Church St, Unit 1711,Toronto,Ontario","(43.6620656, -79.37933710000001)"
3,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",1.199541,"25 Oxley St, Unit 413,Toronto,Ontario","(43.6462468, -79.39452849999998)"
4,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",1.019601,"87 Peter St, Unit 2701,Toronto,Ontario","(43.6469441, -79.3923973)"
...,...,...,...,...
654,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",0.441837,"426 University Ave, Unit 907,Toronto,Ontario","(43.6539487, -79.38857010000002)"
655,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",0.879456,"21 Carlton St, Unit 2604,Toronto,Ontario","(43.66110270000001, -79.3821061)"
656,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",0.310973,"70 Temperance St, Unit 1616,Toronto,Ontario","(43.6505301, -79.3821482)"
657,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",0.872133,"318 Richmond St W St, Unit 3302,Toronto,Ontario","(43.6489001, -79.39220499999998)"
658,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",0.763710,"763 Bay St, Unit 1107,Toronto,Ontario","(43.6599441, -79.3851875)"