In [5]:
import pandas as pd
import numpy as np
!pip install geopy
from geopy.distance import geodesic

Requirement already satisfied: geopy in /Users/abhishekpadala/anaconda3/lib/python3.8/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/abhishekpadala/anaconda3/lib/python3.8/site-packages (from geopy) (1.50)

In [6]:
neighbourhood = pd.read_excel('unique2.xlsx')
neighbourhood.head(3)

,Unnamed: 0,Neighbourhood,Nei_lat,Nei_long
0,0,"Richmond, Adelaide, King",43.649972,-79.383223
1,1,"Garden District, Ryerson",43.657658,-79.378802
2,2,"CN Tower, King and Spadina, Railway Lands, Har...",43.642566,-79.387057

In [7]:
company = pd.read_excel('company.xlsx')
company.head(1)

,Unnamed: 0,Address,lat,long
0,0,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON",43.653226,-79.383184

In [8]:
print(neighbourhood.shape)
print(company_name.shape)
print(df1.shape)

(12, 4)

NameError: name 'company_name' is not defined

In [ ]:
distance = []
columns = ['company_name']
for i in range(0,27):
    company_name = company['Address'][i]
    company_lat = company['lat'][i]
    company_long = company['long'][i]
    company_latlong = company_lat, company_long
    for j in range(0, 11):
        neighbourhood_name = neighbourhood['Neighbourhood'][j]
        neighbourhood_lat = neighbourhood['Nei_lat'][j]
        neighbourhood_long = neighbourhood['Nei_long'][j]
        neighbourhood_latlong = neighbourhood_lat,neighbourhood_long

        dist = geodesic(company_latlong, neighbourhood_latlong).km
        distance.append((company_name, neighbourhood_name, dist))
        
df1=pd.DataFrame(distance, columns=['company_name', 'neighbourhood_name', 'dist'])
df1.head()

In [ ]:
df1.shape

In [ ]:
df1.groupby('company_name').count()

# to find out the values are correctly added into data frame

In [ ]:
df1.to_excel('neigh_comp_dist.xlsx')

# Distance analysis
<img src="companies_vs_neighbourhoods_distance.png" width=1200 height=800 align="center"/>

In [9]:
df2 = pd.read_excel('neigh_comp_dist.xlsx')
df2.head(1)

,Unnamed: 0,company_name,neighbourhood_name,dist
0,0,"AMZN CAN Fulfillment Svcs, ULC , Toronto , ON","Richmond, Adelaide, King",0.36154

# Analyze neighbourhood
let's say that i got job in Amazon canada fulfillment svcs, ULC,toronto.
now i have to find best suitable neighbourhood based on bellow venues 
    1. company should be near
    2. supermarket
    3. coffeeshops
    4. gym
    5. latin dance schools or clubs
    6. indoor swimming pools
    7. bar and restaurant

Amazon is already in in the Richmond neighbourhood. Let's find out wheather the neighbourhood is suitable to the above requirements.